<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg" style="height:500px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" @onclick="@ModalCancel">X</button>
            </div>
            <div class="modal-body">
                <embed src="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                       frameborder="0" width="100%" height="100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@ModalOk>Aceptar</button>
                <button type="button" class="btn btn-primary" @onclick=@ModalCancel>Cancelar</button>
            </div>

        </div>
    </div>
</div>
