<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg" style="height:500px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" @onclick="@ModalCancel">X</button>
            </div>
            <div class="modal-body">
                <form class="form-control-file">
                    <div class="row">
                        <div class="col">
                            <label for="file">Elige el archivo para cargar</label>
                        </div>
                        <div class="col">
                            <InputFile type="file" id="file" name="file" OnChange="@OnInputFileChangeAsync" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@ModalOk>Aceptar</button>
                <button type="button" class="btn btn-primary" @onclick=@ModalCancel>Cancelar</button>
            </div>

        </div>
    </div>
</div>