@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

tbody {
    display: block;
    height: 600px;
    overflow: auto;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed; /* even columns width , fix width of table too*/
    }

.table-main {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

    .table-main td {
        white-space: initial;
        overflow: hidden;
        /*text-overflow: ellipsis;*/
        height: 60px;
        font-size: smaller;
        font-family: Verdana;
    }

/* Column widths are based on these cells */
.row-10 {
    width: 10%;
}

.row-40 {
    width: 40%;
}

.row-30 {
    width: 30%;
}

.row-20 {
    width: 20%;
}

.table-main th {
    background: darkblue;
    color: white;
}

.table-main td,
.table-main th {
    text-align: center;
    padding: 5px 10px;
}

.table-main tr:nth-child(even) {
    background: lightblue;
}

.search-label {
    font-family: Verdana;
    font-size: 14px;
    font-weight: 700;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

.topnav-right {
    float: right;
}
