@if (Usuario.Username != null)
{
    <div class="topnav">
        <a href="/home">Optimus Customs</a>
        <a href="/factura">Facturas</a>
        <a href="/operacion">Operaciones</a>
        <a href="/usuario">Usuarios</a>
        <div class="topnav-right">
            <a href="">@Usuario.Username</a>
            <a href="" @onclick="LogOut">Salir</a>

        </div>
    </div>
}




